.goofy-bio {
    text-align: center;
}

.icon {
    margin:5px;
    height:60px;
    width:60px;
    vertical-align: middle;
}

.contact-method {
    margin: auto;
    width:40%;
}
.contact-method  a{
    font-weight:bold;
    font-family: "Quicksand";
    color: rgb(6, 90, 123);
    font-size:18px;
    text-decoration: none;
}

.contact-method  a:hover{
    color:  #F49A36;
}