.review {
    background-color: lightgray;
    margin-top:10px;
    padding:20px;
}

.review-author, .review-date {
    font-weight:bold;
    font-family: "Raleway";
    color: rgb(6, 90, 123);
    font-size:18px;
}
.author-info {
    width:50%;
}

.author-info p {
    font-weight:bold;
    font-family: "Raleway";
    color: rgb(6, 90, 123);
    font-size:20px;
}

#book-cover {
    width: 300px;
    height:400px;
}