
.book-cover {
    height: 400px;
    width:  300px;
    padding: 15px;
    margin:10px;
    background-color:#96DE52;
}

.book-show {
    display:flex;
    overflow-x: scroll;
}

.book-thumbnail {
    width: 350px;
}

