::selection {
    background-color: #F49A36;
    
}


body{
    background-color:beige;
}
p {
    font-family: Helvetica, sans-serif;
    font-size:18px;
}

h1, h2, h3 {
    font-family: "Quicksand";
    color: rgb(6, 90, 123);
}

h1 {
    font-size:48px;
}

h2 {
    font-size:30px;
}

h3 {
    font-size:24px;
}

.flex-grid {
    flex-flow: row wrap;
    display:flex;
}

header {
    background-color: rgb(200, 255, 117);
    border-bottom-style:solid;
    border-bottom-width:5px;
    border-top-style:solid;
    border-top-width:5px;
    text-align: center;
}

nav {

    background-color:rgb(6, 90, 123);
    height:40px;
    
}


main {
    width:70%;
    margin:auto;
}


nav a{
        color: white;
        font-size: 25px;
        margin-left:30px;
        margin-right:30px;
        text-decoration: none;
        font-family: "Raleway";
        
}

nav a:hover{
    color:  #F49A36;

}
nav ul{
    display:flex;
    
}



ul {
    list-style-type: none;
    
}

footer {
    background-color:rgb(6, 90, 123);
    color: white;
    font-size: 20px;
    font-family: "Raleway";
    height:100px;
}

footer a {
    color: #96DE52;

}

footer p {
    border-top-color: black;
    border-top-style:solid;
    border-top-width:5px;
    text-align: center;
    padding-top:10px
}


